body {
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: -ms-grid;
  display: grid;
  grid-template-rows: fit-content(100%);
  grid-gap: 20px;
}

.title {
  font-weight: 600;
}

.page-link {
  text-decoration: none;
  color: #6284FF;

  &:hover {
    text-decoration: underline;
  }
}

.copy-container {
  display: none;
}

.container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: fit-content(100%);
  grid-gap: 6px;
  width: 100%;
}

.code-container {
  position: relative;
  overflow: hidden;
}

pre {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 6px 6px 0 0;
  overflow: auto;

  &:focus {
    outline: none;
  }
}

.copy-button {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 10px;
  transition: all ease-in-out .1s;

  &:hover {
    border-color: #6284FF;
    color: #6284FF;
    cursor: pointer;
  }
}

.back {
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  width: fit-content;
  color: #6284FF;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

input {
  appearance: none;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 6px;
  box-shadow: none;

  &:focus {
    outline: #6284FF auto 1px;
  }
}

button {
  padding: 4px 8px;
  background: none;
  border: 1px solid #ddd;
  border-radius: 4px;

  &:focus {
    outline: none;
    cursor: pointer;
  }
}

.current-active {
  border-color: #6284FF;
  color: #6284FF;
}

.template-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.output {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 6px;
  user-select: all;
  font-size: 16px;
  word-wrap: break-word;
  word-break: break-all;
}